In [2]:
import pandas as pd
import numpy as np

data_points = [
    (1, 1, 0),
    (2, 1, 0),
    (2, 2, 0),
    (3, 3, 1),
    (6, 5, 1),
    (7, 7, 1),
]

df = pd.DataFrame(data_points, columns=['x', 'y', 'class'])
df

   x  y  class
0  1  1      0
1  2  1      0
2  2  2      0
3  3  3      1
4  6  5      1
5  7  7      1

In [ ]:
import math
from collections import Counter

new_value = (3, 2)
distances = []

k = 3

for index, row in df.iterrows():
    x_val = row['x']
    y_val = row['y']
    label = row['class']

    dist = math.sqrt((new_value[0] - x_val)**2 + (new_value[1]-y_val)**2)
    distances.append((dist, label))

fin_list = sorted(distances, key=lambda t: t[0])[:3]
select_labels = [t[1] for t in fin_list]

counts = Counter(select_labels)
print(f"the new val {new_value} belongs to class: {counts.most_common(1)[0][0]}" )

the new val (3, 2) belongs to class: 0